<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- <h1>Login will be available</h1> -->
    <form action="/signup" method="post">
        <label for="user">Enter the username:</label>
        <input type="text" id="user" name="username" placeholder="Username" required>
    
        <label for="pass">Enter the password:</label>
        <input type="password" id="pass" name="password" placeholder="Password" required>
    
        <button type="submit">Sign up</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
    <button role="button" onclick="window.location.href='/auth/google'">Sign up with google</button>
</body>
</html>